@import url(resetH5.css);
@import url(base.css);
.container {
    font-size: 14px;
    color: #333;
    width: 100%;
    padding-top: 10px;
}

.set {
    padding-left: 10px;
    padding-right: 10px;
}

.set .set-area .item {
    border-bottom: 1px solid #eee;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
}

.set .set-area .item .imge {
    width: 48px;
    display: flex;
    flex-direction: column;
}

.set .set-area .item .right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.set .set-area .item .right-box .nickname {
    margin-right: 3px;
}

.set .set-area .item .right-box .next {
    width: 13px;
    height: 13px;
}

.set .set-area .item .right-box .nv {
    margin-right: 1px;
}

.set .set-area .item .right-box .mirror {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

.set .set-area .item .right-box .unset {
    width: 50px;
    margin-right: 3px;
}

.phone {
    padding: 10px 10px;
}

.phone .item {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 50px;
}

.phone .item .right-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone .item .right-box .num {
    margin-right: 3px;
}

.phone .item .right-box .next {
    width: 13px;
    height: 13px;
}

.choice {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

.choice .select {
    position: absolute;
    right: 10px;
    bottom: 10px;
    left: 10px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.choice .select .sexlist {
    background-color: #fff;
    border-radius: 5px;
}

.choice .select .sexlist .item {
    border-bottom: 1px solid #eee;
}

.choice .select .sexlist .item .tag {
    width: 16px;
    margin-right: 5px;
}

.choice .select .cancel {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    height: 40px;
    background-color: #fff;
}
